*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #c0c9d5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    color: #000000d6;
    text-align: center;
    text-transform: uppercase;
}

.data{
    color: #ef943a;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tituloPrevisao{
    text-align: center;
    color: #000000d6;
}

.inputPesquisa{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.inputPesquisa input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #3F5C88 ;
}

.outras-previsao{
    display: flex;
    margin: 10px;
    gap: 10px;
}


.previsao-hoje .previsao-hoje-destaque {
    color:  #000000d6;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    max-width: 400px; 
    padding: 20px; 
}

.outras-previsao{
    display: flex;
    margin: 0 10px;
}

.outras-previsao .itens-previsao{
    background-color: #3F5C88;
    width: 50%;
    padding: 10px;
    color: #000000d6;
    text-align: center;
    font-weight: 900;
    text-align: center;
}

.outras-previsao .itens-previsao img{
    max-width: 100%;
    width: 20%;
}

.previsao-outros{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.temperatura{
    font-size: 50px;
    font-weight: 900;
}


.previsao-outros .previsao-item{
    background-color: #3F5C88;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}